<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Login - Smartech</title>
</head>

<body>
    <div class="loginPag">
        <div class="login">
            <h2>Login Smartech</h2>

            <form method="POST">
                <div class="loginInputs">
                <input type="text" name="usuario" placeholder="Usuário" required>
                <input type="password" name="senha" placeholder="Senha" required>
                <button type="submit">Entrar</button>
                </div>
            </form>
        </div>
    </div>
    


</body>
</html>